<div class="flex flex-wrap">
    <div class="w-full sm:w-1/2 p-6">
      <h3 class="font-bold">Practice activity</h3>
      <p> <i> Note: Instead of saying "a 90-degree angle," use descriptive terms like "a corner that fits perfectly together," "a square corner," or "a corner that makes a straight line when folded."</i></p>
      <br>
      <p>2. Open the OpenBoard software, and insert shapes from the option <strong>Shapes</strong>. Draw a right angle and check which shape has a corner that fits perfectly together with the right angle. </p>
      <img class="w-90" src={{imageSourceGrade5}} alt="2D-shapes">
      <span><button (click)="grade5ChangueImag(0)">Picture1</button> | <button (click)="grade5ChangueImag(1)">Clock</button></span>
      
    </div>
    <div class="w-5/6 sm:w-1/2 p-6">
      <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
        Annual Teaching Plan
      </h3>
      <p class="text-gray-600 mb-8">
        PROPERTIES OF 2D SHAPES <span>Grade 5</span>
      </p>
      <table class="border-collapse border border-slate-500 ">
        <thead class="bg-slate-400">
          <tr class="border-sky-1">
            <th class="border border-slate-600 ">Term</th>
            <th class="border border-slate-600 ">Topic</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="3" class="border border-slate-600 ">Term 3</td>
            <td class="border border-slate-600 ">
              <ul>
                <li><strong>Describe sort and compare 2D </strong>shapes in terms of:
                  <ul class="list-disc ml-4">
                    <li>Straight and curved sides </li>
                    <li> Number and length of sides </li>
                    <li>Angles in shapes, limited to
                      <ol>
                        <li>right angles</li>
                        <li>Angles smaller than right angles </li>
                        <li>Angles greater than right angles</li>
                      </ol>
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="border border-slate-600 ">
              <ul>
                <li>Draw 2D shapes on grid paper</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="border border-slate-600 ">
              <ul>
                <li>Recognise and describe angles in 2D shapes:
                  <ul class="list-disc ml-5">
                    <li>Right angles</li>
                    <li>Angles smaller than right angles </li>
                    <li>Angles greater than right angles</li>
                  </ul>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

<div class="h-auto mx-auto w-100 my-0 py-0 rounded-t">
    <h3> <strong> Practice activity</strong></h3>
    <p>3. Open OpenBoard software and in the toolbar menu find the option interactivities and create the below quiz. </p>
    <label> Look at the hands of a clock when it's 3:00. What kind of angle do the hour and minute hands make?</label><br>
    <input type="radio" id="a" name="regular_polygon" value="a">
    <label for="a">Right angle</label><br>
    <input type="radio" id="b" name="regular_polygon" value="b">
    <label for="b">Smaller than right angle</label><br>
    <input type="radio" id="c" name="regular_polygon" value="c">
    <label for="c">Greater more than right angle</label><br>      
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-5">Submit</button>
</div>
