
<div id="content">
    <table>
        <thead>
        <tr>
            <th>Attendance Register 2024</th>
            <th><img class="img" src="/assets/images/Free_state.png" alt="logo"></th>
        </tr> 
        <tr>
            <th colspan="2">
                Name of trainer/ service provider: {{registerHeader.name_of_trainer}}
            </th>
        </tr> 
        <tr>
            <th>
                Description of training/ specification of content: {{registerHeader.description}}
            </th>
            <th>
                Performance measure (PPM) to which this training contributes: {{registerHeader.ppm}}
            </th>
        </tr>
        <tr>
            <th>
                Subject: {{registerHeader.subject}} 
            </th>
            <th>
                Target Group:{{registerHeader.target_group}}
            </th>
        </tr>  
        <tr>
            <th>Venue: {{registerHeader.venue}} </th>
            <th>Training Date: {{registerHeader.date | date}} </th>
        </tr>  
        </thead>
    </table>
    <table>
        <thead>
        <tr>
            <th>Training is: </th>
            <th>Tick:  </th>
            <th>Accredited: {{registerHeader.accredited}} </th>
            <th>If is Accredited, indicate NQF level: {{registerHeader.nqf_level}}</th>
            <th>SACE endorsed</th>
            <th>__</th>
            <th>NON-FORMAL</th>
            <th></th>
        </tr>
        </thead>
    </table>  
 <table>
    <thead>
    <tr>
        <td>Time of training: From: {{registerHeader.start_time}}  to {{registerHeader.end_time}}  </td>
        <td>Actual No of Hours:{{noHours}}:{{noMinutes}} </td>
        <td>Equity Targets: </td>
    </tr>
    </thead>
 </table>

 <table>
    <thead>
    <tr>
        <th [colSpan]="7">Detail of participants:</th>
        <th>Gender</th>
        <th>Race</th>
        <th>Dis-ability</th>
        <th>Age group</th>
        <th [colSpan]="2">Contact details</th>
     </tr>
     <tr>
        <th>No</th>
        <th>Surname</th>
        <th>Initials</th>        
        <th>Persal Number</th>
        <th>Workplace (Schools)</th>
        <th>Rank PL:</th>
        <th>Grade</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Telf/Cell</th>
        <th>email address</th>        
     </tr>
     </thead>
     <tbody>
    <tr *ngFor="let participant of participants; let i = index">
            <td>{{i + 1}}</td>
            <td>{{participant.surname}}</td>
            <td>{{participant.initials}}</td>
            <td >{{participant.persalNumber}}</td>
            <td>{{participant.workplace}}</td>
            <td>{{participant.rank_pl}}</td>
            <td>{{participant.grade}}</td>
            <td>{{participant.gender | uppercase}}</td>
            <td>{{participant.race | uppercase}}</td>
            <td>{{participant.disability}}</td>
            <td>{{participant.age}}</td>
            <td>{{participant.contact}}</td>
            <td>{{participant.email}}</td>
    </tr>
</tbody>
<tfoot>
    <tr>
        <td>Participants: {{participants.length}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Male:{{males}},  Female: {{females}}</td>
            <td class="text-3">
                African: {{races.African}}, Coloured: {{races.Coloured}}, Indian: {{races.Indian}}, White: {{races.White}}, Asian: {{races.Asian}}
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

    </tr>
</tfoot>
 </table>
   
    
</div>

<div>
    <button class="seeTable" (click)="download()">
        Download <mat-icon>download</mat-icon> 
      </button>
   
</div>


    


  