<div class="flex flex-wrap">

    <div class="w-full sm:w-1/2 p-6">
      <h3 class="font-bold">Practical activity</h3>
        <p>5. Use the OpenBoard software to construct a 60<sup>o</sup> angle, perpendicular, and parallel lines.</p>        
      <img src="/assets/images/picture6.png" alt="60-degree">
      <img src="/assets/images/picture7.png" alt="perpendicular">
      <span><a target="_blank" href="https://www.mathsisfun.com/geometry/construct-perponline.html" class="underline">See video</a></span>
      <img src="/assets/images/picture8.png" alt="parallel">
      <span><a target="_blank" href="https://www.mathsisfun.com/geometry/construct-pararhombus.html" class="underline">See video</a></span>
    </div>

    <div class="w-5/6 sm:w-1/2 p-6">
      <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
        Annual Teaching Plan
      </h3>
      <p class="text-gray-600 mb-8 ">
        CONSTRUCTION OF GEOMETRIC FIGURES <span>Grade 7</span>
      </p>
      <table class="border-collapse border border-slate-500 ">
        <thead class="bg-slate-400">
          <tr class="border-sky-1">
            <th class="border border-slate-600 ">Term</th>
            <th class="border border-slate-600 ">Topic</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="4" class="border border-slate-600 ">Term 3</td>
            <td class="border border-slate-600 ">
              <ul class="list-disc ml-5">
                <li><strong>Measuring angles </strong> <br>
                  Accurately use a protractor to measure and classify angles:
                  <ul>
                    <li>
                      < 90˚ (acute angles)</li>
                    <li>Right-angles</li>
                    <li> >90˚ (obtuse angles) </li>
                    <li> Straight angles</li>
                    <li> >180˚ but less than 360˚ (reflex angles)</li>
                  </ul>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="border border-slate-600 ">
              <ul>
                <li> <strong>Constructions</strong>
                  <ul class="list-disc ml-5">
                    <li>Accurately construct the following using a compass, ruler and protractor, limited to:
                      <ul>
                        <li>angles, to one degree of accuracy </li>
                        <li>parallel lines</li>
                        <li>perpendicular lines</li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="border border-slate-600 ">
              <ul class="ml-5">
                <li>Constructions:
                  <ul class="list-disc ml-5">
                    <li>Describe and name parts of a circle</li>
                  </ul>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <ul>
                <li> <strong>GEOMETRY OF STRAIGHT LINES</strong>
                  <ul class="list-disc ml-5">Define:
                    <li>Line segment </li>
                    <li>Ray </li>
                    <li>Straight line </li>
                    <li>Parallel lines</li>
                    <li>Perpendicular lines</li>
                  </ul>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <div class="flex flex-wrap">
      <div class="w-full sm:w-1/2 p-6">
        <h3 class="font-bold">Practical activity</h3>
        <p>7. Use the OpenBoard software to name and describe triangles according to their sides and angles</p>
        <br>
        <img src="/assets/images/picture9.png" alt="2D-shapes">
        <table>
          <thead>
            <tr>
              <th>Criteria</th>
              <th>Triangle A</th>
              <th>Triangle B</th>
              <th>Triangle C</th>              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Sides</td>
              <td>3 equal sides</td>
              <td>2 equal sides</td>
              <td>3 different sides</td>           
            </tr>
            <tr>
              <td>Angles</td>
              <td>3 equal angles</td>
              <td>2 equal angles</td>
              <td>One right-angled and the 3 differents angles</td>
            </tr>
            <tr>
              <td>Names</td>
              <td>Equilateral</td>
              <td>Isosceles</td>
              <td>Right-angled triangle</td>
            </tr>
          </tbody>
        </table>
        
      </div>
      <div class="w-5/6 sm:w-1/2 p-6">
        <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
          Annual Teaching Plan
        </h3>
        <p class="text-gray-600 mb-8 ">
          GEOMETRY OF 2D SHAPES <span>Grade 7</span>
        </p>
        <table class="border-collapse border border-slate-500 ">
          <thead class="bg-slate-400">
            <tr class="border-sky-1">
              <th class="border border-slate-600 ">Term</th>
              <th class="border border-slate-600 ">Topics</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="3" class="border border-slate-600 ">Term 3</td>
              <td class="border border-slate-600 ">
                <ul class="list-disc ml-5">
                  <li><strong>Classifying 2D shapes </strong> <br>
                    Describe, sort, name and compare triangles according to their sides and angles, focussing on:
                    <ul class="list-disc">
                      <li> equilateral triangles</li>
                      <li>isosceles triangles</li>
                      <li>right-angled triangles </li>
                    </ul>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td class="border border-slate-600 ">
                <ul>
                  <li> <strong>Classifying 2D shapes</strong> <br>
                    Describe, sort, name and compare quadrilaterals in terms of:
                    <ul class="list-disc ml-5">
                      Accurately construct the following using a compass, ruler and protractor, limited to:
                      <li>length of sides</li>
                      <li>parallel and perpendicular sides </li>
                      <li>size of angles (right angles or not)</li>
                    </ul>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td class="border border-slate-600 ">
                <ul>
                  <li> <strong>Similar and congruent 2D shapes</strong> <br>
                    Recognise and describe similar and congruent figures by comparing:
                    <ul class="list-disc ml-5">
                      <li>shape </li>
                      <li>size </li>
                    </ul>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>