<div class="flex flex-wrap">

    <div class="w-5/6 sm:w-1/2 p-6">
      <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
        Annual Teaching Plan
      </h3>
      <p class="text-gray-600 mb-8">
        PROPERTIES OF 2D SHAPES <span>Grade 6</span>
      </p>
      <table class="border-collapse border border-slate-500 ">
        <thead class="bg-slate-400">
          <tr class="border-sky-1">
            <th class="border border-slate-600 ">Term</th>
            <th class="border border-slate-600 ">Topic</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="3" class="border border-slate-600 ">Term 3</td>
            <td class="border border-slate-600 ">
              <ul class="list-disc ml-5">
                <li><strong>Recognize, visualize and name 2-D shapes in the environment and geometric settings
                  </strong> <br>
                  Regular and irregular polygons,
                  triangles, squares, rectangles, parallelograms, other quadrilaterals, pentagons, hexagons,
                  heptagons and octagons
                </li>
                <li>Similarities and differences between rectangles and parallelograms</li>
                <li>Features of shapes:
                  <ul>
                    <li>Describe, sort and compare 2-D shapes in terms of:
                      <ul class="list-disc">
                        <li>number of sides </li>
                        <li>length of sides </li>
                        <li>size of angles:
                          <ol class="list-decimal ml-5">
                            <li>acute</li>
                            <li>right</li>
                            <li>obtuse</li>
                            <li>straight </li>
                            <li>reflex </li>
                            <li>revolution </li>
                          </ol>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="border border-slate-600 ">
              <ul>
                <li>Draw 2D shapes on grid paper</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="border border-slate-600 ">
              <ul class="ml-5">
                <li>Further activities :
                  <ul class="list-disc ml-5">
                    <li>Draw circles, patterns in circles and patterns with circles using a pair of compasses.</li>
                  </ul>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="w-full sm:w-1/2 p-6">
      <h3 class="font-bold">Practical activity</h3>
      <p>Use the OpenBoard software to find the Similarities and Differences between parallelograms and rectangles, taking into account the number of sides, length of sides, sizes of angles.</p>
      <img src="/assets/images/rectangle_parallelogram.png" alt="2D-shapes">      
      <table class="border-4 border-collapse mt-5">
        <thead>
            <tr class="border">
                <th class="border">Criteria</th>
                <th class="border">Similarities</th>
                <th class="border">Differences</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border">
                <td class="border font-bold">Number of sides</td>
                <td class="border">Both have 4 sides</td>
                <td></td>
            </tr>
            <tr class="border">
                <td class="border font-bold">Length of sides</td>
                <td class="border">Both has 2 pairs of equal sides</td>
                <td class="border"></td>
            </tr>
            <tr class="border">
                <td class="border font-bold">Size of angles</td>
                <td class="border"> </td>
                <td class="border">Rectangles has 4 right angles and Parallelogram angles are not necessarily right angles. </td>
            </tr>
        </tbody>
    </table>
    </div>

  </div>
