/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.gradient {
    background: linear-gradient(90deg, #9a05eb 0%, #3f89f2 100%);
  }
